<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="favicon.ico" rel="icon" type="image/x-icon" />

    <title>Adify</title>

    <meta name="description" content="Classifieds for Students">
    <meta name="author" content="Stefan Pante, Jonas Devlieghere">

    <!-- JQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- Bootstrap 3 -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap Tour -->
    <link rel="stylesheet" href="/js/libs/bootstrap-tour/build/css/bootstrap-tour.min.css">
    <script src="/js/libs/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>

    <!-- nProgress -->
    <script src="/js/libs/nprogress/nprogress.js"></script>
    <link href="/js/libs/nprogress/nprogress.css" rel="stylesheet">

    <!-- Application styles. -->
    <!-- build:[href] /css/adify.css -->
    <link rel="stylesheet" href="/css/adify.css">
    <!-- /build -->

    <!-- Google Maps  -->
    <script src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDcaabfNg07eSRW7lq6tii2vrvRURgq27M&sensor=false"></script>
    <script src="/js/infobox.js"></script>
    <script src="/js/libs/ejs/ejs.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/lib/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/lib/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
