<div class="container content">
    <div class="row">
        <div class=" col-md-offset-2 col-md-8 contentbox">
            <div class="close-dialog">
                <a href="#">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <h2><%= title %></h2>
            <hr>
            <div id="dialog-content">
            </div>
        </div><!-- /col-md-12 contentbox -->
    </div> <!-- /row -->
</div> <!-- /container.content -->