<div class="row">
    <div class="col-md-6">
        login or register with:
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <a href="auth/facebook" class="facebook-button"><img src="img/facebook.png" height="18"> Facebook</a>
            </div><!-- col-md-12 -->
            <div class="col-md-6">
                <a href="auth/twitter" class="twitter-button"><img src="img/twitter.png" height="18"> Twitter</a>
            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div>
</div>
