<div class="mini-cla" id="cla-<%= _id %>">
    <div class="row">
        <h3><%= title %></h3>
        <div class="description">
            <%= description %>
        </div>
    </div>

    <div class="row">

        <div class="col-md-5">
            <span class="glyphicon glyphicon-user"></span>
            <%= user %>

        </div>

        <div class="col-md-7 ">

            <span class="glyphicon glyphicon-earphone"></span>
            <%= contact %>

        </div>
    </div>

    <div class="row center ">
        <div class="mini-cla-buttons">
            <!--//<a href="#" class="mini-cla-leftbutton"><span class="glyphicon glyphicon-arrow-up"></span> more</a> -->
            <a href="#" class="mini-cla-leftbutton">
                <% if(starred){ %>
                <span class="glyphicon glyphicon-star-empty"></span> unstar
                <% }else{ %>
                <span class="glyphicon glyphicon-star"></span> star
                <%}%></a>
            <a href="#" class="mini-cla-rightbutton"><span class="glyphicon glyphicon-arrow-down"></span> close</a>
        </div>

    </div>
</div>