<div id="search-result">
    <div id="search-caret"></div>
    <div id="close-search-result">
        <a href="#">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
    <div class="search-title cla-result">
        <b>Advertisements</b>
    </div>
    <hr class="cla-result">
    <ul class="search-result-list cla-result">
    </ul>
    <hr>

    <div class="search-title places-result">
        <b>Places</b>
    </div>
    <hr class="places-result">
    <ul class="search-result-list places-result">
    </ul>

    <div class="search-footer"></div>
</div>