<div class="container content">
    <div class="row">
        <div class=" col-md-offset-2 col-md-8 contentbox">
            <div class="close-dialog">
                <a href="#">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <h2>My Starred Advertisements</h2>
            <hr>
            <table class="table table-hover">
                <thead>
                <th class="title">Title</th>
                <th class="actions">Actions</th>
                </thead>
                <tbody>
                <% for(var i = 0; i < classifiedModels.length; i++) {%>
                <tr>
                    <td class="title"><%= classifiedModels[i].attributes.title %></td>
                    <td class="actions">
                        <a  href="#">
                            <span class="glyphicon glyphicon-star"></span>
                        </a>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div><!-- /col-md-12 contentbox -->
    </div> <!-- /row -->
</div> <!-- /container.content -->