<div class="mini-cla" id="cla-<%= _id %>">
    <div class="close-button" >
        <a href="#">
            <span class="glyphicon glyphicon-remove" data-id="<%= _id %>"></span>
        </a>
    </div>
    <div class="row">
        <h3><%= title %></h3>
        <div class="description">
            <%= description %>
        </div>
    </div>
    <div class="row center">
        <div class="mini-cla-buttons col-md-12">
            <a href="#" class="mini-cla-leftbutton">
                <% if(starred){ %>
                <span class="glyphicon glyphicon-star-empty"></span> unstar
                <% }else{ %>
                <span class="glyphicon glyphicon-star"></span> star
                <%}%></a>
            <a href="#" class="mini-cla-rightbutton">
                <span class="glyphicon glyphicon-envelope"></span> Contact Advertiser
            </a>
        </div>

    </div>
</div>